body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

/* === LOGO === */
.logo {
  /* 
    position: absolute;  <-- co to robi? 
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;  */

  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.web-item {
  color: #2196f3;
}
.studio-item {
  color: #000000;
}
/* === END LOGO === */

/* === NAVIGATION === */
.sub-navigation {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 142;
  letter-spacing: 0.02em;
  color: #212121;
}
.sub-navigation:hover,
.sub-navigation:focus {
  color: #2196f3;
}
.sub-navigation:active {
  color: #cd329a;
}
.navigation {
  cursor: pointer;
  list-style-type: none;
}
/* === END NAVIGATION === */

/* === CONTACTS ===  (zrobić konkretniejsze klasy - lepsza przejrzystość/modyfikalność kodu) */
.contacts {
  list-style-type: none;
}
.contacts-item {
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 142;
  letter-spacing: 0.02em;
}
.contacts-item:hover,
.contacts-item:focus {
  color: #2196f3;
}
.contacts-item:active {
  color: #cd329a;
}
/* === END CONTACTS === */

/* === ADRESS === */
.adress {
  list-style-type: none;
}
.adress-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.adress-item:hover,
.adress-item:focus {
  color: #2196f3;
}
.adress-item:active {
  color: #cd329a;
}
/* nadpisuje klasę "adress-item */
.map {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/*--- DODATEK dla widoczności--- */
.bakground-color-footer {
  background-color: #2f303a;
}
/* === END ADRESS === */

/* === NAGŁÓWEK === */
.main-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.big-title {
  /*--- DODATEK dla widoczności--- */
  background-color: #2f303a;
}
.btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background: #2196f3;
}
.btn:active {
  background-color: #cd329a;
}
/* === END NAGŁÓWEK === */

/* === 4X OPIS === */
.description-list {
  list-style-type: none;
}
.title-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;
  color: #757575;
}
/* === END 4X OPIS === */

/* === SECOND TITLE(S) === */
.second-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/* === END SECOND TITLE(S) === */

/* ===--- CZYM SIĘ ZAJMUJEMY (zdjęcia) /// ZESPÓŁ /// PROJECT/IMAGES---=== */
.item-list {
  list-style-type: none;
}
/* ===--- END CZYM SIĘ ZAJMUJEMY (zdjęcia) /// ZESPÓŁ /// PROJECT/IMAGES ---=== */

/* === ZESPÓŁ ===*/
.third-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.worker {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.team {
  background-color: #f5f4fa;
}
/* === END ZESPÓŁ ===*/

/* === BUTTON GROUP === */
.btn-group {
  list-style-type: none;
}
.btn-item {
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.btn-item:hover,
.btn-item:focus {
  background-color: #2196f3;
}
.btn-item:active {
  background-color: #cd329a;
}
/* === END BUTTON GROUP === */

/* PROJECTS/IMAGES */
.image-projects {
  width: 370px;
  height: 294px;
}
.projects-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.projects-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.03em;
  color: #757575;
}
/* END PROJECTS/IMAGES */
